:root {
  --outline-color: #f4f3ee;
}

html,
body {
  margin: 0;
  color: var(--outline-color);
  background-image: url("background_img/clayton-malquist-hfFM0QsCn3g-unsplash.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

#container {
  width: 80vw;
  background-color: rgba(44, 42, 54, 0.8);
  border-radius: 10px;
  margin: 30px auto;
  padding: 20px;
}

#homepage-link {
  width: 200px;
  margin-bottom: 2em;
  border-radius: 10px;
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 2rem;
}

.links {
  display: flex;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
  list-style: none;
}

.links a {
  text-decoration: none;
  font-weight: 600;
  color: inherit;
  border: 1px solid var(--outline-color);
  border-radius: 2rem;
  padding: 5px 10px;
  margin: 7px;
}

.links a:hover {
  box-shadow: -3px 3px 5px black;
  transition: 300ms ease-in-out;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.icon {
  width: 50px;
  margin: 20px;
}

footer a {
  color: var(--outline-color);
  font-weight: 600;
}

footer p a:hover {
  box-shadow: -3px 3px 5px black;
  transition: 300ms ease-in-out;
}

@media (max-width: 480px) {
  #container {
    width: auto;
    border-radius: 0;
    margin: 0 auto;
  }

  .navbar {
    flex-direction: column;
    align-items: center;
    margin: 10px 0 20px;
  }

  .links {
    flex-direction: row;
    width: 100vw;
    font-weight: 600;
    margin: 20px 0 0;
  }

  .links a {
    text-decoration: none;
    border: 1px solid var(--outline-color);
    border-radius: 5px;
    padding: 5px 10px;
    margin: 0;
  }
}
