:root {
  --outline-color: #f4f3ee;
}

#insurance {
  width: 80%;
  margin: 0 auto;
  text-align: initial;
}

#insurance h1,
#insurance h2 {
  text-align: center;
}

@media (max-width: 480px) {
  #insurance {
    width: 90%;
  }
}
