{% extends "base.html" %} {% load static %} {% block content %}
<section class="faq">
  <h2>{{ faqs.0.question }}</h2>
  {{ faqs.0.answer|linebreaks }}
</section>
<section class="faq">
  <h2>{{ faqs.1.question }}</h2>
  {{ faqs.1.answer|linebreaks }}
</section>
<section class="faq">
  <h2>{{ faqs.2.question }}</h2>
  <table id="therapy-rates">
    <tr>
      <td>Individual psychotherapy (55 min.): $150</tr>
      <td>Couple psychotherapy (55 min.): $175</tr>
      <td>Family psychotherapy* (55 min.): $175</tr>
    </tr>
  </table>
  {{ faqs.2.answer|linebreaks }}
  <p id="therapy-rates-note">
    *Please note that all appointments with persons under the age of 18 are
    billed at the family psychotherapy rate.
  </p>
</section>
<section class="faq">
  <h2>{{ faqs.3.question }}</h2>
  {{ faqs.3.answer|linebreaks }}
</section>
<section class="faq">
  <h2>{{ faqs.4.question }}</h2>
  {{ faqs.4.answer|linebreaks }}
</section>
<section class="faq">
  <h2>{{ faqs.5.question }}</h2>
  {{ faqs.5.answer|linebreaks }}
</section>
<section class="faq">
  <h2>{{ faqs.6.question }}</h2>
  {{ faqs.6.answer|linebreaks }}
</section>
<section class="faq">
  <h2>{{ faqs.7.question }}</h2>
  {{ faqs.7.answer|linebreaks }}
  <a
    id="confidentiality-download"
    href="../static/documents/aohcc_confidentiality_handout.pdf"
    >Download confidentiality handout</a
  >
</section>
<div id="form">
  <h2>Contact us!</h2>
  <form id="contact-form" method="post">
    {% csrf_token %} {{ form }}
    <input type="submit" value="Submit" />
  </form>
</div>
{% endblock %}
