{% extends "base.html" %} {% load static %} {% block content %}
<div id="hero">
  <h1>Anchors of Hope Counseling Center</h1>
  <main id="about-aohcc">
    <img
      src="{% static 'bio_pics/office.jpg' %}"
      alt="Anchors of Hope Counseling Center's office sign with the main office building in the background."
      id="office-img"
    />
    {{ about_us.text }}
  </main>
</div>
<h2 id="therapist-header">Our therapists</h2>
<div id="therapists">
  {% for therapist in therapists_info_list %}
  <div class="therapist">
    <img
      class="bio-pic"
      alt="{{ therapist.first_name }} {{ therapist.last_name }} smiling at the camera."
      src="{% static 'bio_pics/' %}{{ therapist.picture_filename }}"
    />
    <h3 class="therapist-name">
      {{ therapist.first_name }} {{ therapist.last_name }}, {{ therapist.license_type }}
    </h3>
    <p class="populations">
      Works with: {{ therapist.populations }}
    </p>
    <p class="insurances">
      Insurance: {{ therapist.insurances }}
    </p>
    <p class="accepting-clients">
      <strong>{{ therapist.accepting_new_clients }}</strong>
    </p>
    <a class="therapist-link" href="/{{ therapist.id }}"
      >Learn more about {{ therapist.first_name }}</a
    >
  </div>
  {% endfor %}
</div>
<div id="form">
    <h2>Thank you! We will be in contact shortly!</h2>
</div>
{% endblock %}
